<nav id="desktop-nav">
  <div class="logo">Hossein Tahami</div>
  <div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#certifications">Certifications</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul>
  </div>
</nav>
<nav id="hamburger-nav">
  <div class="logo">Hossein Tahami</div>
  <div class="hamburger-menu">
    <div class="hamburger-icon" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links">
      <li><a href="#about" onclick="toggleMenu()">About</a></li>
      <li><a href="#certifications" onclick="toggleMenu()">certifications</a></li>
      <li><a href="#projects" onclick="toggleMenu()">Projects</a></li>
      <li><a href="#contact" onclick="toggleMenu()">Contact</a></li>
    </div>
  </div>
</nav>