<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills</title>
  <style>
    /* Add this CSS to make the icons the same size */
    .icon {
      width: 40px;
      /* Adjust the width as needed */
      height: 40px;
      /* Adjust the height as needed */
      object-fit: contain;
      /* Ensures images maintain aspect ratio */
    }
  </style>
</head>

<body>

  <section id="skills">
    <p class="section__text__p1">Explore My</p>
    <h1 class="title">Skills</h1>
    <div class="skills-details-container">
      <div class="about-containers">

        <!-- Programming & Scripting -->
        <div class="details-container">
          <h2 class="skills-sub-title">Programming & Scripting</h2>
          <br>
          <hr>
          <br>
          <br>
          <div class="article-container">
            <article>
              <img src="./assets/python.png" alt="Python" class="icon" />
              <div>
                <h3>Python</h3>
                <p>Advanced</p>
              </div>
            </article>
            <article>
              <img src="./assets/matlab.png" alt="MATLAB" class="icon" />
              <div>
                <h3>MATLAB</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="./assets/javascript.png" alt="JavaScript" class="icon" />
              <div>
                <h3>JavaScript</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img src="./assets/cpp.png" alt="C++" class="icon" />
              <div>
                <h3>C++, C</h3>
                <p>Intermediate</p>
              </div>
            </article>
          </div>
        </div>

        <!-- AI & Machine Learning -->
        <div class="details-container">
          <h2 class="skills-sub-title">Machine Learning & Deep Learning</h2>
          <br>
          <hr>
          <br>
          <br>
          <div class="article-container">
            <article>
              <img src="./assets/tensorflow.png" alt="TensorFlow" class="icon" />
              <div>
                <h3>TensorFlow</h3>
                <p>Advanced</p>
              </div>
            </article>
            <article>
              <img src="./assets/pytorch.png" alt="PyTorch" class="icon" />
              <div>
                <h3>PyTorch</h3>
                <p>Advanced</p>
              </div>
            </article>
            <article>
              <img src="./assets/opencv.png" alt="OpenCV" class="icon" />
              <div>
                <h3>OpenCV</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
            <img src="./assets/pandas.png" alt="Pandas" class="icon" />
            <div>
              <h3>Pandas</h3>
              <p>Advanced</p>
            </div>
            </article>
            <article>
              <img src="./assets/numpy.png" alt="numpy" class="icon" />
              <div>
                <h3>Numpy</h3>
                <p>Advanced</p>
              </div>
            </article>
            <article>
          </div>
        </div>

        <!-- Web Development & Backend -->
        <div class="details-container">
          <h2 class="skills-sub-title">Web Development & Backend</h2>
          <br>
          <hr>
          <br>
          <br>
          <div class="article-container">
            <article>
              <img src="./assets/django.png" alt="Django" class="icon" />
              <div>
                <h3>Django</h3>
                <p>Advanced</p>
              </div>
            </article>
            <article>
              <img src="./assets/fastapi.png" alt="FastAPI" class="icon" />
              <div>
                <h3>FastAPI</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="./assets/postgresql.png" alt="PostgreSQL" class="icon" />
              <div>
                <h3>PostgreSQL</h3>
                <p>Intermediate</p>
              </div>
            </article>
            <article>
              <img src="./assets/git.png" alt="Git" class="icon" />
              <div>
                <h3>Git</h3>
                <p>Advanced</p>
              </div>
            </article>
          </div>
        </div>

        <!-- Devops -->
        <div class="details-container">
          <h2 class="skills-sub-title">DevOps & Version Control</h2>
          <br>
          <hr>
          <br>
          <br>
          <div class="article-container">
            <article>
              <img src="./assets/git.png" alt="Git" class="icon" />
              <div>
                <h3>Git</h3>
                <p>Advanced</p>
              </div>
            </article>
            <article>
              <img src="./assets/docker.png" alt="Git" class="icon" />
              <div>
                <h3>Docker</h3>
                <p>Basic</p>
              </div>
            </article>
            <article>
              <img src="./assets/linux.png" alt="Linux" class="icon" />
              <div>
                <h3>Linux</h3>
                <p>Intermediate</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
    <img src="./assets/arrow.png" alt="Arrow icon" class="icon arrow" onclick="location.href='./#projects'" />
  </section>

</body>

</html>